<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz App</title>
  </head>
  <body>
    <div class="container">
      {{#each quizzes}}
        <a href={{this}}>{{this}}</a>
      {{/each}}
    </div>

  </body>
</html>
